[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = using array
[access "refs/*"]
	owner = group user/Manasa Vesala (manasavesala)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Manasa Vesala (manasavesala)
	label-Verified = -1..+1 group user/Manasa Vesala (manasavesala)
	push = group user/Manasa Vesala (manasavesala)
	read = group user/Manasa Vesala (manasavesala)
	rebase = group user/Manasa Vesala (manasavesala)
	removeReviewer = group user/Manasa Vesala (manasavesala)
	submit = group user/Manasa Vesala (manasavesala)
[access "refs/heads/*"]
	create = group user/Manasa Vesala (manasavesala)
	push = +force group user/Manasa Vesala (manasavesala)
	pushMerge = group user/Manasa Vesala (manasavesala)
	read = group user/Manasa Vesala (manasavesala)
[access "refs/tags/*"]
	push = group user/Manasa Vesala (manasavesala)
	push = +force group user/Manasa Vesala (manasavesala)
